--
-- PostgreSQL database dump
--

\restrict LSi5ya0bynC3LJgC3ae9YdVEN0qVbu5173rRfOsflvMdqdOhIYgVhHvCLYlAKUK

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.video_trajectory_events DROP CONSTRAINT IF EXISTS video_trajectory_events_camera_id_fkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_store_id_fkey;
ALTER TABLE IF EXISTS ONLY public.shelves DROP CONSTRAINT IF EXISTS shelves_zone_id_fkey;
ALTER TABLE IF EXISTS ONLY public.shelves DROP CONSTRAINT IF EXISTS shelves_store_id_fkey;
ALTER TABLE IF EXISTS ONLY public.settings DROP CONSTRAINT IF EXISTS settings_store_id_fkey;
ALTER TABLE IF EXISTS ONLY public.reports DROP CONSTRAINT IF EXISTS reports_store_id_fkey;
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS products_store_id_fkey;
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS products_shelf_id_fkey;
ALTER TABLE IF EXISTS ONLY public.heatmaps DROP CONSTRAINT IF EXISTS heatmaps_store_id_fkey;
ALTER TABLE IF EXISTS ONLY public.heatmaps DROP CONSTRAINT IF EXISTS heatmaps_shelf_id_fkey;
ALTER TABLE IF EXISTS ONLY public.heatmaps DROP CONSTRAINT IF EXISTS heatmaps_camera_id_fkey;
ALTER TABLE IF EXISTS ONLY public.detections DROP CONSTRAINT IF EXISTS detections_zone_id_fkey;
ALTER TABLE IF EXISTS ONLY public.detections DROP CONSTRAINT IF EXISTS detections_store_id_fkey;
ALTER TABLE IF EXISTS ONLY public.detections DROP CONSTRAINT IF EXISTS detections_shelf_id_fkey;
ALTER TABLE IF EXISTS ONLY public.detections DROP CONSTRAINT IF EXISTS detections_camera_id_fkey;
ALTER TABLE IF EXISTS ONLY public.customer_tracks DROP CONSTRAINT IF EXISTS customer_tracks_store_id_fkey;
ALTER TABLE IF EXISTS ONLY public.customer_tracks DROP CONSTRAINT IF EXISTS customer_tracks_shelf_id_fkey;
ALTER TABLE IF EXISTS ONLY public.customer_tracks DROP CONSTRAINT IF EXISTS customer_tracks_camera_id_fkey;
ALTER TABLE IF EXISTS ONLY public.cameras DROP CONSTRAINT IF EXISTS cameras_store_id_fkey;
ALTER TABLE IF EXISTS ONLY public.camera_zones DROP CONSTRAINT IF EXISTS camera_zones_camera_id_fkey;
ALTER TABLE IF EXISTS ONLY public.camera_zone_rois DROP CONSTRAINT IF EXISTS camera_zone_rois_zone_id_fkey;
ALTER TABLE IF EXISTS ONLY public.camera_zone_rois DROP CONSTRAINT IF EXISTS camera_zone_rois_camera_id_fkey;
ALTER TABLE IF EXISTS ONLY public.camera_shelf_rois DROP CONSTRAINT IF EXISTS camera_shelf_rois_shelf_id_fkey;
ALTER TABLE IF EXISTS ONLY public.camera_shelf_rois DROP CONSTRAINT IF EXISTS camera_shelf_rois_camera_id_fkey;
ALTER TABLE IF EXISTS ONLY public.analytics DROP CONSTRAINT IF EXISTS analytics_store_id_fkey;
ALTER TABLE IF EXISTS ONLY public.analytics DROP CONSTRAINT IF EXISTS analytics_shelf_id_fkey;
ALTER TABLE IF EXISTS ONLY public.analytics DROP CONSTRAINT IF EXISTS analytics_camera_id_fkey;
DROP INDEX IF EXISTS public.ix_video_trajectory_events_zone_id;
DROP INDEX IF EXISTS public.ix_video_trajectory_events_video_id;
DROP INDEX IF EXISTS public.ix_video_trajectory_events_id;
DROP INDEX IF EXISTS public.ix_video_trajectory_events_frame_number;
DROP INDEX IF EXISTS public.ix_video_trajectory_events_customer_id;
DROP INDEX IF EXISTS public.ix_video_trajectory_events_camera_id;
DROP INDEX IF EXISTS public.ix_users_id;
DROP INDEX IF EXISTS public.ix_stores_id;
DROP INDEX IF EXISTS public.ix_shelves_zone_id;
DROP INDEX IF EXISTS public.ix_shelves_id;
DROP INDEX IF EXISTS public.ix_settings_id;
DROP INDEX IF EXISTS public.ix_reports_report_id;
DROP INDEX IF EXISTS public.ix_reports_id;
DROP INDEX IF EXISTS public.ix_products_id;
DROP INDEX IF EXISTS public.ix_heatmaps_id;
DROP INDEX IF EXISTS public.ix_detections_id;
DROP INDEX IF EXISTS public.ix_customer_tracks_id;
DROP INDEX IF EXISTS public.ix_cameras_id;
DROP INDEX IF EXISTS public.ix_camera_zones_id;
DROP INDEX IF EXISTS public.ix_camera_zones_camera_id;
DROP INDEX IF EXISTS public.ix_camera_zone_rois_zone_id;
DROP INDEX IF EXISTS public.ix_camera_zone_rois_id;
DROP INDEX IF EXISTS public.ix_camera_zone_rois_camera_id;
DROP INDEX IF EXISTS public.ix_camera_shelf_rois_shelf_id;
DROP INDEX IF EXISTS public.ix_camera_shelf_rois_id;
DROP INDEX IF EXISTS public.ix_camera_shelf_rois_camera_id;
DROP INDEX IF EXISTS public.ix_analytics_id;
ALTER TABLE IF EXISTS ONLY public.video_trajectory_events DROP CONSTRAINT IF EXISTS video_trajectory_events_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_key;
ALTER TABLE IF EXISTS ONLY public.stores DROP CONSTRAINT IF EXISTS stores_pkey;
ALTER TABLE IF EXISTS ONLY public.shelves DROP CONSTRAINT IF EXISTS shelves_shelf_number_key;
ALTER TABLE IF EXISTS ONLY public.shelves DROP CONSTRAINT IF EXISTS shelves_pkey;
ALTER TABLE IF EXISTS ONLY public.settings DROP CONSTRAINT IF EXISTS settings_pkey;
ALTER TABLE IF EXISTS ONLY public.reports DROP CONSTRAINT IF EXISTS reports_pkey;
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS products_sku_key;
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS products_pkey;
ALTER TABLE IF EXISTS ONLY public.heatmaps DROP CONSTRAINT IF EXISTS heatmaps_pkey;
ALTER TABLE IF EXISTS ONLY public.detections DROP CONSTRAINT IF EXISTS detections_pkey;
ALTER TABLE IF EXISTS ONLY public.customer_tracks DROP CONSTRAINT IF EXISTS customer_tracks_pkey;
ALTER TABLE IF EXISTS ONLY public.cameras DROP CONSTRAINT IF EXISTS cameras_pkey;
ALTER TABLE IF EXISTS ONLY public.camera_zones DROP CONSTRAINT IF EXISTS camera_zones_pkey;
ALTER TABLE IF EXISTS ONLY public.camera_zone_rois DROP CONSTRAINT IF EXISTS camera_zone_rois_pkey;
ALTER TABLE IF EXISTS ONLY public.camera_shelf_rois DROP CONSTRAINT IF EXISTS camera_shelf_rois_pkey;
ALTER TABLE IF EXISTS ONLY public.analytics DROP CONSTRAINT IF EXISTS analytics_pkey;
ALTER TABLE IF EXISTS public.video_trajectory_events ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.stores ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.shelves ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.settings ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.reports ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.products ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.heatmaps ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.detections ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.customer_tracks ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.cameras ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.camera_zones ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.camera_zone_rois ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.camera_shelf_rois ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.analytics ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.video_trajectory_events_id_seq;
DROP TABLE IF EXISTS public.video_trajectory_events;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.stores_id_seq;
DROP TABLE IF EXISTS public.stores;
DROP SEQUENCE IF EXISTS public.shelves_id_seq;
DROP TABLE IF EXISTS public.shelves;
DROP SEQUENCE IF EXISTS public.settings_id_seq;
DROP TABLE IF EXISTS public.settings;
DROP SEQUENCE IF EXISTS public.reports_id_seq;
DROP TABLE IF EXISTS public.reports;
DROP SEQUENCE IF EXISTS public.products_id_seq;
DROP TABLE IF EXISTS public.products;
DROP SEQUENCE IF EXISTS public.heatmaps_id_seq;
DROP TABLE IF EXISTS public.heatmaps;
DROP SEQUENCE IF EXISTS public.detections_id_seq;
DROP TABLE IF EXISTS public.detections;
DROP SEQUENCE IF EXISTS public.customer_tracks_id_seq;
DROP TABLE IF EXISTS public.customer_tracks;
DROP SEQUENCE IF EXISTS public.cameras_id_seq;
DROP TABLE IF EXISTS public.cameras;
DROP SEQUENCE IF EXISTS public.camera_zones_id_seq;
DROP TABLE IF EXISTS public.camera_zones;
DROP SEQUENCE IF EXISTS public.camera_zone_rois_id_seq;
DROP TABLE IF EXISTS public.camera_zone_rois;
DROP SEQUENCE IF EXISTS public.camera_shelf_rois_id_seq;
DROP TABLE IF EXISTS public.camera_shelf_rois;
DROP SEQUENCE IF EXISTS public.analytics_id_seq;
DROP TABLE IF EXISTS public.analytics;
DROP TYPE IF EXISTS public.userrole;
--
-- Name: userrole; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.userrole AS ENUM (
    'admin',
    'store_manager',
    'retail_analyst',
    'marketing_analyst'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: analytics; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.analytics (
    id integer NOT NULL,
    customer_id integer NOT NULL,
    store_id integer NOT NULL,
    camera_id integer NOT NULL,
    shelf_id integer,
    viewed_product character varying(100),
    dwell_time double precision,
    attention_score double precision,
    distance_to_shelf double precision,
    face_direction character varying(50),
    head_angle double precision,
    looking_at_shelf boolean,
    looking_at_product boolean,
    walking_speed double precision,
    customer_path character varying(500),
    visit_time timestamp with time zone DEFAULT now()
);


--
-- Name: analytics_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.analytics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: analytics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.analytics_id_seq OWNED BY public.analytics.id;


--
-- Name: camera_shelf_rois; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.camera_shelf_rois (
    id integer NOT NULL,
    camera_id integer NOT NULL,
    shelf_id integer NOT NULL,
    polygon_coordinates json NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: camera_shelf_rois_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.camera_shelf_rois_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: camera_shelf_rois_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.camera_shelf_rois_id_seq OWNED BY public.camera_shelf_rois.id;


--
-- Name: camera_zone_rois; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.camera_zone_rois (
    id integer NOT NULL,
    camera_id integer NOT NULL,
    zone_id integer NOT NULL,
    polygon_coordinates json NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: camera_zone_rois_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.camera_zone_rois_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: camera_zone_rois_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.camera_zone_rois_id_seq OWNED BY public.camera_zone_rois.id;


--
-- Name: camera_zones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.camera_zones (
    id integer NOT NULL,
    camera_id integer NOT NULL,
    zone_name character varying(100) NOT NULL,
    zone_code character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: camera_zones_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.camera_zones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: camera_zones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.camera_zones_id_seq OWNED BY public.camera_zones.id;


--
-- Name: cameras; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cameras (
    id integer NOT NULL,
    camera_name character varying(100),
    store_id integer NOT NULL,
    rtsp_url character varying,
    location character varying(100),
    status character varying(20),
    camera_type character varying(20),
    fps double precision,
    processing_status character varying(30),
    current_detection_status character varying(30),
    video_path character varying(255),
    blueprint_url character varying(255),
    blueprint_width integer,
    blueprint_height integer,
    calibration_points json,
    homography_matrix json,
    blueprint_polygon_zones json,
    last_active_at timestamp with time zone DEFAULT now(),
    installed_on timestamp with time zone DEFAULT now()
);


--
-- Name: cameras_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.cameras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: cameras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.cameras_id_seq OWNED BY public.cameras.id;


--
-- Name: customer_tracks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customer_tracks (
    id integer NOT NULL,
    customer_id integer NOT NULL,
    store_id integer NOT NULL,
    camera_id integer NOT NULL,
    shelf_id integer,
    product_viewed character varying(100),
    entry_time timestamp with time zone DEFAULT now(),
    exit_time timestamp with time zone,
    dwell_time double precision,
    distance_to_shelf double precision,
    face_direction character varying(50),
    head_angle double precision,
    looking_at_shelf boolean,
    looking_at_product boolean,
    walking_speed double precision,
    customer_path character varying(500),
    attention_score double precision,
    "timestamp" timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: customer_tracks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.customer_tracks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: customer_tracks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.customer_tracks_id_seq OWNED BY public.customer_tracks.id;


--
-- Name: detections; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.detections (
    id integer NOT NULL,
    camera_id integer NOT NULL,
    store_id integer NOT NULL,
    shelf_id integer,
    zone_id integer,
    track_id integer,
    detected_class character varying(100) NOT NULL,
    confidence double precision NOT NULL,
    bbox_x integer NOT NULL,
    bbox_y integer NOT NULL,
    bbox_w integer NOT NULL,
    bbox_h integer NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: detections_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.detections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: detections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.detections_id_seq OWNED BY public.detections.id;


--
-- Name: heatmaps; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.heatmaps (
    id integer NOT NULL,
    store_id integer NOT NULL,
    camera_id integer NOT NULL,
    shelf_id integer,
    coordinates json,
    heatmap_type character varying(30),
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: heatmaps_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.heatmaps_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: heatmaps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.heatmaps_id_seq OWNED BY public.heatmaps.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.products (
    id integer NOT NULL,
    name character varying NOT NULL,
    sku character varying NOT NULL,
    store_id integer,
    shelf_id integer NOT NULL,
    category character varying(100),
    barcode character varying(60),
    brand character varying(80),
    description character varying(1000),
    price double precision,
    stock_quantity integer,
    status character varying(20),
    image_url character varying(255),
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reports (
    id integer NOT NULL,
    report_id character varying(36),
    store_id integer,
    report_name character varying(100) NOT NULL,
    report_type character varying(50) NOT NULL,
    filters json,
    file_path character varying(255),
    created_by integer,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: reports_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.reports_id_seq OWNED BY public.reports.id;


--
-- Name: settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.settings (
    id integer NOT NULL,
    store_id integer NOT NULL,
    store_name character varying(100),
    logo_url character varying(255),
    theme character varying(50),
    jwt_expiry_minutes integer,
    notification_enabled boolean,
    camera_detection_threshold double precision,
    yolo_confidence double precision,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: settings_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.settings_id_seq OWNED BY public.settings.id;


--
-- Name: shelves; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.shelves (
    id integer NOT NULL,
    shelf_name character varying(100) NOT NULL,
    shelf_number character varying(20) NOT NULL,
    store_id integer NOT NULL,
    zone_id integer,
    category character varying(100),
    aisle character varying(50),
    capacity integer,
    status character varying(20),
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: shelves_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.shelves_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: shelves_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.shelves_id_seq OWNED BY public.shelves.id;


--
-- Name: stores; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stores (
    id integer NOT NULL,
    store_name character varying(100) NOT NULL,
    location character varying(150),
    manager_name character varying(100),
    logo_url character varying(255),
    theme character varying(50),
    total_shelves integer,
    total_cameras integer,
    is_live_store boolean NOT NULL,
    blueprint_url character varying(255),
    blueprint_width integer,
    blueprint_height integer,
    blueprint_config json,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: stores_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.stores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: stores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.stores_id_seq OWNED BY public.stores.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    full_name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    store_id integer,
    role public.userrole NOT NULL,
    password character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: video_trajectory_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.video_trajectory_events (
    id integer NOT NULL,
    video_id character varying(255) NOT NULL,
    camera_id integer NOT NULL,
    frame_number integer NOT NULL,
    "timestamp" double precision NOT NULL,
    customer_id integer NOT NULL,
    camera_x double precision NOT NULL,
    camera_y double precision NOT NULL,
    blueprint_x double precision NOT NULL,
    blueprint_y double precision NOT NULL,
    zone_id integer,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: video_trajectory_events_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.video_trajectory_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: video_trajectory_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.video_trajectory_events_id_seq OWNED BY public.video_trajectory_events.id;


--
-- Name: analytics id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.analytics ALTER COLUMN id SET DEFAULT nextval('public.analytics_id_seq'::regclass);


--
-- Name: camera_shelf_rois id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.camera_shelf_rois ALTER COLUMN id SET DEFAULT nextval('public.camera_shelf_rois_id_seq'::regclass);


--
-- Name: camera_zone_rois id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.camera_zone_rois ALTER COLUMN id SET DEFAULT nextval('public.camera_zone_rois_id_seq'::regclass);


--
-- Name: camera_zones id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.camera_zones ALTER COLUMN id SET DEFAULT nextval('public.camera_zones_id_seq'::regclass);


--
-- Name: cameras id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cameras ALTER COLUMN id SET DEFAULT nextval('public.cameras_id_seq'::regclass);


--
-- Name: customer_tracks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_tracks ALTER COLUMN id SET DEFAULT nextval('public.customer_tracks_id_seq'::regclass);


--
-- Name: detections id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.detections ALTER COLUMN id SET DEFAULT nextval('public.detections_id_seq'::regclass);


--
-- Name: heatmaps id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.heatmaps ALTER COLUMN id SET DEFAULT nextval('public.heatmaps_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: reports id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reports ALTER COLUMN id SET DEFAULT nextval('public.reports_id_seq'::regclass);


--
-- Name: settings id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.settings ALTER COLUMN id SET DEFAULT nextval('public.settings_id_seq'::regclass);


--
-- Name: shelves id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shelves ALTER COLUMN id SET DEFAULT nextval('public.shelves_id_seq'::regclass);


--
-- Name: stores id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stores ALTER COLUMN id SET DEFAULT nextval('public.stores_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: video_trajectory_events id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.video_trajectory_events ALTER COLUMN id SET DEFAULT nextval('public.video_trajectory_events_id_seq'::regclass);


--
-- Data for Name: analytics; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.analytics (id, customer_id, store_id, camera_id, shelf_id, viewed_product, dwell_time, attention_score, distance_to_shelf, face_direction, head_angle, looking_at_shelf, looking_at_product, walking_speed, customer_path, visit_time) FROM stdin;
\.


--
-- Data for Name: camera_shelf_rois; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.camera_shelf_rois (id, camera_id, shelf_id, polygon_coordinates, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: camera_zone_rois; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.camera_zone_rois (id, camera_id, zone_id, polygon_coordinates, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: camera_zones; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.camera_zones (id, camera_id, zone_name, zone_code, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: cameras; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cameras (id, camera_name, store_id, rtsp_url, location, status, camera_type, fps, processing_status, current_detection_status, video_path, blueprint_url, blueprint_width, blueprint_height, calibration_points, homography_matrix, blueprint_polygon_zones, last_active_at, installed_on) FROM stdin;
\.


--
-- Data for Name: customer_tracks; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.customer_tracks (id, customer_id, store_id, camera_id, shelf_id, product_viewed, entry_time, exit_time, dwell_time, distance_to_shelf, face_direction, head_angle, looking_at_shelf, looking_at_product, walking_speed, customer_path, attention_score, "timestamp", created_at) FROM stdin;
\.


--
-- Data for Name: detections; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.detections (id, camera_id, store_id, shelf_id, zone_id, track_id, detected_class, confidence, bbox_x, bbox_y, bbox_w, bbox_h, created_at) FROM stdin;
\.


--
-- Data for Name: heatmaps; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.heatmaps (id, store_id, camera_id, shelf_id, coordinates, heatmap_type, created_at) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.products (id, name, sku, store_id, shelf_id, category, barcode, brand, description, price, stock_quantity, status, image_url, created_at) FROM stdin;
\.


--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.reports (id, report_id, store_id, report_name, report_type, filters, file_path, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.settings (id, store_id, store_name, logo_url, theme, jwt_expiry_minutes, notification_enabled, camera_detection_threshold, yolo_confidence, created_at) FROM stdin;
\.


--
-- Data for Name: shelves; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.shelves (id, shelf_name, shelf_number, store_id, zone_id, category, aisle, capacity, status, created_at) FROM stdin;
\.


--
-- Data for Name: stores; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.stores (id, store_name, location, manager_name, logo_url, theme, total_shelves, total_cameras, is_live_store, blueprint_url, blueprint_width, blueprint_height, blueprint_config, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users (id, full_name, email, store_id, role, password, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: video_trajectory_events; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.video_trajectory_events (id, video_id, camera_id, frame_number, "timestamp", customer_id, camera_x, camera_y, blueprint_x, blueprint_y, zone_id, created_at) FROM stdin;
\.


--
-- Name: analytics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.analytics_id_seq', 1, false);


--
-- Name: camera_shelf_rois_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.camera_shelf_rois_id_seq', 1, false);


--
-- Name: camera_zone_rois_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.camera_zone_rois_id_seq', 1, false);


--
-- Name: camera_zones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.camera_zones_id_seq', 1, false);


--
-- Name: cameras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.cameras_id_seq', 1, false);


--
-- Name: customer_tracks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.customer_tracks_id_seq', 1, false);


--
-- Name: detections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.detections_id_seq', 1, false);


--
-- Name: heatmaps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.heatmaps_id_seq', 1, false);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.products_id_seq', 1, false);


--
-- Name: reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.reports_id_seq', 1, false);


--
-- Name: settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.settings_id_seq', 1, false);


--
-- Name: shelves_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.shelves_id_seq', 1, false);


--
-- Name: stores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.stores_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: video_trajectory_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.video_trajectory_events_id_seq', 1, false);


--
-- Name: analytics analytics_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.analytics
    ADD CONSTRAINT analytics_pkey PRIMARY KEY (id);


--
-- Name: camera_shelf_rois camera_shelf_rois_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.camera_shelf_rois
    ADD CONSTRAINT camera_shelf_rois_pkey PRIMARY KEY (id);


--
-- Name: camera_zone_rois camera_zone_rois_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.camera_zone_rois
    ADD CONSTRAINT camera_zone_rois_pkey PRIMARY KEY (id);


--
-- Name: camera_zones camera_zones_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.camera_zones
    ADD CONSTRAINT camera_zones_pkey PRIMARY KEY (id);


--
-- Name: cameras cameras_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cameras
    ADD CONSTRAINT cameras_pkey PRIMARY KEY (id);


--
-- Name: customer_tracks customer_tracks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_tracks
    ADD CONSTRAINT customer_tracks_pkey PRIMARY KEY (id);


--
-- Name: detections detections_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.detections
    ADD CONSTRAINT detections_pkey PRIMARY KEY (id);


--
-- Name: heatmaps heatmaps_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.heatmaps
    ADD CONSTRAINT heatmaps_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_sku_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_sku_key UNIQUE (sku);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (id);


--
-- Name: shelves shelves_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shelves
    ADD CONSTRAINT shelves_pkey PRIMARY KEY (id);


--
-- Name: shelves shelves_shelf_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shelves
    ADD CONSTRAINT shelves_shelf_number_key UNIQUE (shelf_number);


--
-- Name: stores stores_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: video_trajectory_events video_trajectory_events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.video_trajectory_events
    ADD CONSTRAINT video_trajectory_events_pkey PRIMARY KEY (id);


--
-- Name: ix_analytics_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_analytics_id ON public.analytics USING btree (id);


--
-- Name: ix_camera_shelf_rois_camera_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_camera_shelf_rois_camera_id ON public.camera_shelf_rois USING btree (camera_id);


--
-- Name: ix_camera_shelf_rois_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_camera_shelf_rois_id ON public.camera_shelf_rois USING btree (id);


--
-- Name: ix_camera_shelf_rois_shelf_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_camera_shelf_rois_shelf_id ON public.camera_shelf_rois USING btree (shelf_id);


--
-- Name: ix_camera_zone_rois_camera_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_camera_zone_rois_camera_id ON public.camera_zone_rois USING btree (camera_id);


--
-- Name: ix_camera_zone_rois_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_camera_zone_rois_id ON public.camera_zone_rois USING btree (id);


--
-- Name: ix_camera_zone_rois_zone_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_camera_zone_rois_zone_id ON public.camera_zone_rois USING btree (zone_id);


--
-- Name: ix_camera_zones_camera_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_camera_zones_camera_id ON public.camera_zones USING btree (camera_id);


--
-- Name: ix_camera_zones_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_camera_zones_id ON public.camera_zones USING btree (id);


--
-- Name: ix_cameras_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_cameras_id ON public.cameras USING btree (id);


--
-- Name: ix_customer_tracks_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_customer_tracks_id ON public.customer_tracks USING btree (id);


--
-- Name: ix_detections_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_detections_id ON public.detections USING btree (id);


--
-- Name: ix_heatmaps_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_heatmaps_id ON public.heatmaps USING btree (id);


--
-- Name: ix_products_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_products_id ON public.products USING btree (id);


--
-- Name: ix_reports_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_reports_id ON public.reports USING btree (id);


--
-- Name: ix_reports_report_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_reports_report_id ON public.reports USING btree (report_id);


--
-- Name: ix_settings_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_settings_id ON public.settings USING btree (id);


--
-- Name: ix_shelves_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_shelves_id ON public.shelves USING btree (id);


--
-- Name: ix_shelves_zone_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_shelves_zone_id ON public.shelves USING btree (zone_id);


--
-- Name: ix_stores_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_stores_id ON public.stores USING btree (id);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_video_trajectory_events_camera_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_video_trajectory_events_camera_id ON public.video_trajectory_events USING btree (camera_id);


--
-- Name: ix_video_trajectory_events_customer_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_video_trajectory_events_customer_id ON public.video_trajectory_events USING btree (customer_id);


--
-- Name: ix_video_trajectory_events_frame_number; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_video_trajectory_events_frame_number ON public.video_trajectory_events USING btree (frame_number);


--
-- Name: ix_video_trajectory_events_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_video_trajectory_events_id ON public.video_trajectory_events USING btree (id);


--
-- Name: ix_video_trajectory_events_video_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_video_trajectory_events_video_id ON public.video_trajectory_events USING btree (video_id);


--
-- Name: ix_video_trajectory_events_zone_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_video_trajectory_events_zone_id ON public.video_trajectory_events USING btree (zone_id);


--
-- Name: analytics analytics_camera_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.analytics
    ADD CONSTRAINT analytics_camera_id_fkey FOREIGN KEY (camera_id) REFERENCES public.cameras(id);


--
-- Name: analytics analytics_shelf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.analytics
    ADD CONSTRAINT analytics_shelf_id_fkey FOREIGN KEY (shelf_id) REFERENCES public.shelves(id);


--
-- Name: analytics analytics_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.analytics
    ADD CONSTRAINT analytics_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: camera_shelf_rois camera_shelf_rois_camera_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.camera_shelf_rois
    ADD CONSTRAINT camera_shelf_rois_camera_id_fkey FOREIGN KEY (camera_id) REFERENCES public.cameras(id) ON DELETE CASCADE;


--
-- Name: camera_shelf_rois camera_shelf_rois_shelf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.camera_shelf_rois
    ADD CONSTRAINT camera_shelf_rois_shelf_id_fkey FOREIGN KEY (shelf_id) REFERENCES public.shelves(id) ON DELETE CASCADE;


--
-- Name: camera_zone_rois camera_zone_rois_camera_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.camera_zone_rois
    ADD CONSTRAINT camera_zone_rois_camera_id_fkey FOREIGN KEY (camera_id) REFERENCES public.cameras(id) ON DELETE CASCADE;


--
-- Name: camera_zone_rois camera_zone_rois_zone_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.camera_zone_rois
    ADD CONSTRAINT camera_zone_rois_zone_id_fkey FOREIGN KEY (zone_id) REFERENCES public.camera_zones(id) ON DELETE CASCADE;


--
-- Name: camera_zones camera_zones_camera_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.camera_zones
    ADD CONSTRAINT camera_zones_camera_id_fkey FOREIGN KEY (camera_id) REFERENCES public.cameras(id) ON DELETE CASCADE;


--
-- Name: cameras cameras_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cameras
    ADD CONSTRAINT cameras_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: customer_tracks customer_tracks_camera_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_tracks
    ADD CONSTRAINT customer_tracks_camera_id_fkey FOREIGN KEY (camera_id) REFERENCES public.cameras(id);


--
-- Name: customer_tracks customer_tracks_shelf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_tracks
    ADD CONSTRAINT customer_tracks_shelf_id_fkey FOREIGN KEY (shelf_id) REFERENCES public.shelves(id);


--
-- Name: customer_tracks customer_tracks_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_tracks
    ADD CONSTRAINT customer_tracks_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: detections detections_camera_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.detections
    ADD CONSTRAINT detections_camera_id_fkey FOREIGN KEY (camera_id) REFERENCES public.cameras(id);


--
-- Name: detections detections_shelf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.detections
    ADD CONSTRAINT detections_shelf_id_fkey FOREIGN KEY (shelf_id) REFERENCES public.shelves(id);


--
-- Name: detections detections_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.detections
    ADD CONSTRAINT detections_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: detections detections_zone_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.detections
    ADD CONSTRAINT detections_zone_id_fkey FOREIGN KEY (zone_id) REFERENCES public.camera_zones(id);


--
-- Name: heatmaps heatmaps_camera_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.heatmaps
    ADD CONSTRAINT heatmaps_camera_id_fkey FOREIGN KEY (camera_id) REFERENCES public.cameras(id);


--
-- Name: heatmaps heatmaps_shelf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.heatmaps
    ADD CONSTRAINT heatmaps_shelf_id_fkey FOREIGN KEY (shelf_id) REFERENCES public.shelves(id);


--
-- Name: heatmaps heatmaps_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.heatmaps
    ADD CONSTRAINT heatmaps_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: products products_shelf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_shelf_id_fkey FOREIGN KEY (shelf_id) REFERENCES public.shelves(id);


--
-- Name: products products_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: reports reports_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: settings settings_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: shelves shelves_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shelves
    ADD CONSTRAINT shelves_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: shelves shelves_zone_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shelves
    ADD CONSTRAINT shelves_zone_id_fkey FOREIGN KEY (zone_id) REFERENCES public.camera_zones(id);


--
-- Name: users users_store_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_store_id_fkey FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: video_trajectory_events video_trajectory_events_camera_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.video_trajectory_events
    ADD CONSTRAINT video_trajectory_events_camera_id_fkey FOREIGN KEY (camera_id) REFERENCES public.cameras(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict LSi5ya0bynC3LJgC3ae9YdVEN0qVbu5173rRfOsflvMdqdOhIYgVhHvCLYlAKUK

